.venv*/
venv*/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

data/processed/*.csv
reports/*.png
reports/*.csv
reports/*.joblib
models/*.joblib

!models/best_model.joblib
!reports/classification_model_comparison.csv
!reports/business_threshold_analysis.csv

.streamlit-stdout.log
.streamlit-stderr.log

.env
.DS_Store
Thumbs.db
